<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Registered Smart Homes</small></h2>   
    <hr>

    <div class="row">
    <div class="col-md-4">
      <div class="row-fluid">
        <div class="span2">
            <h4>Smart Homes</h4>
            <hr>
            <ng2-smart-table 
                [settings]="homeTableSettings" 
                [source]="homeTableData" 
                (userRowSelect)="onHomeSelected($event)" 
                (createConfirm)="onHomeCreateConfirm($event)" 
                (editConfirm)="onHomeUpdateConfirm($event)" 
                (deleteConfirm)="onHomeDeleteConfirm($event)"></ng2-smart-table>
                <br>
                <br>
        </div>
        <div class="span2">
            <h4>Home's Sensors</h4>
            <hr>
            <ng2-smart-table 
                [settings]="sensorTableSettings" 
                [source]="sensorTableData" 
                (userRowSelect)="onSensorSelected($event)"
                (createConfirm)="onSensorCreateConfirm($event)"
                (editConfirm)="onSensorUpdateConfirm($event)"
                (deleteConfirm)="onSensorDeleteConfirm($event)"></ng2-smart-table>
                <br>
                <br>
        </div>
        <div class="span2">
            <h4>Sensor's Conditions</h4>
            <hr>  
            <ng2-smart-table 
                [settings]="conversionTableSettings" 
                [source]="conversionTableData"
                (createConfirm)="onConversionCreateConfirm($event)"  
                (editConfirm)="onConversionUpdateConfirm($event)"
                (deleteConfirm)="onConversionDeleteConfirm($event)"></ng2-smart-table>
        </div>
     </div>
    </div>
    <div class="col-md-8">
       <h4>Violated Conditions</h4>
            <hr>  
            <ng2-smart-table 
                [settings]="violatedConditionsTableSettings" 
                [source]="notificationsSource"></ng2-smart-table>

    </div>
    </div>
 
 	<br>
    

</div>
